<div class="container itemPage">
  <div class="row">
    <mat-card class="card">
      <div class="flex justify-content-between align-center">
        <div>Add Items</div>
        <button mat-button color="primary" (click)="openDialog('dialogOne')">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <mat-card-content>
        <div class="tableDiv">
          <mat-table mat-table [dataSource]="allItems">
            <!-- Position Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell mat-header-cell *matHeaderCellDef
                >Name.</mat-header-cell
              >
              <mat-cell mat-cell *matCellDef="let element">{{
                element.name
              }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="category">
              <mat-header-cell mat-header-cell *matHeaderCellDef
                >Category.</mat-header-cell
              >
              <mat-cell mat-cell *matCellDef="let element">
                {{ element.category.name }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
              <mat-header-cell
                mat-header-cell
                *matHeaderCellDef
                style="text-align: right"
              >
                Action
              </mat-header-cell>
              <mat-cell
                mat-cell
                *matCellDef="let element"
                style="text-align: right"
              >
                <button
                  mat-button
                  color="warn"
                  (click)="deleteData(element._id, 'item')"
                >
                  <mat-icon>delete</mat-icon>
                </button>
                <button
                  mat-button
                  color="primary"
                  (click)="editData(element, 'item')"
                >
                  <mat-icon>edit</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row
              mat-header-row
              *matHeaderRowDef="displayedColumnsOne"
            ></mat-header-row>
            <mat-row
              mat-row
              *matRowDef="let row; columns: displayedColumnsOne"
            ></mat-row>
          </mat-table>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <div class="flex justify-content-between align-center">
        <div>Add Market</div>
        <button mat-button color="primary" (click)="openDialog('dialogTwo')">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <mat-card-content>
        <div class="tableDiv">
          <mat-table mat-table [dataSource]="allMarket">
            <ng-container matColumnDef="name">
              <mat-header-cell mat-header-cell *matHeaderCellDef
                >Name.</mat-header-cell
              >
              <mat-cell mat-cell *matCellDef="let element">{{
                element.name
              }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell
                mat-header-cell
                *matHeaderCellDef
                style="text-align: right"
              >
                Action
              </mat-header-cell>
              <mat-cell
                mat-cell
                *matCellDef="let element"
                style="text-align: right"
              >
                <button
                  mat-button
                  color="warn"
                  (click)="deleteData(element._id, 'market')"
                >
                  <mat-icon>delete</mat-icon>
                </button>
                <button
                  mat-button
                  color="primary"
                  (click)="editData(element, 'market')"
                >
                  <mat-icon>edit</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row
              mat-header-row
              *matHeaderRowDef="displayedColumnsTwo"
            ></mat-header-row>
            <mat-row
              mat-row
              *matRowDef="let row; columns: displayedColumnsTwo"
            ></mat-row>
          </mat-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #dialogRef let-new>
  <h2 class="dialogTitle">Add Item</h2>
  <form class="example-form" [formGroup]="itemForm">
    <p>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Item Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="!itemForm.valid && itemForm.value.name === ''">
          Please enter a Valid Item Name
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field formControlName="catID" appearance="outline">
        <mat-label>Choose </mat-label>
        <mat-select>
          <mat-option *ngFor="let data of allCategory" [value]="data._id">{{
            data.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-checkbox formControlName="active" class="example-margin"
        >Active</mat-checkbox
      >
    </p>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close color="warn" type="reset">
        Cancel
      </button>
      <button
        *ngIf="!editMode"
        [disabled]="!itemForm.valid"
        mat-button
        mat-dialog-close
        color="primary"
        (click)="onSubmit(itemForm, 'item')"
      >
        Save
      </button>
      <button
        *ngIf="editMode"
        [disabled]="!itemForm.valid"
        mat-button
        mat-dialog-close
        color="primary"
        (click)="updateData(itemForm.value, new, 'item')"
      >
        Update
      </button>
    </div>
  </form>
</ng-template>

<ng-template #dialogRefTwo let-new>
  <h2 class="dialogTitle">Add Supermarket</h2>
  <form class="example-form" [formGroup]="marketForm">
    <p>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Supermarket Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="!marketForm.valid && marketForm.value.name === ''">
          Please enter a Valid Item Name
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-checkbox formControlName="active" class="example-margin"
        >Active</mat-checkbox
      >
    </p>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close color="warn" type="reset">
        Cancel
      </button>
      <button
        *ngIf="!editMode"
        [disabled]="!marketForm.valid"
        mat-button
        mat-dialog-close
        color="primary"
        (click)="onSubmit(marketForm, 'market')"
      >
        Save
      </button>
      <button
        *ngIf="editMode"
        [disabled]="!marketForm.valid"
        mat-button
        mat-dialog-close
        color="primary"
        (click)="updateData(marketForm.value, new, 'market')"
      >
        Update
      </button>
    </div>
  </form>
</ng-template>
