.mat-table {
  overflow: auto;
  width: 100%;
}

.mobile-label {
  display: none;
}

.mat-cell:first-of-type,
mat-header-cell:first-of-type,
mat-footer-cell:first-of-type {
  flex: 0.5;
}

@media (max-width: 600px) {
  .mat-row, mat-footer-row{
    min-height: 32px;
  }
  .mat-cell:first-of-type,
  mat-header-cell:first-of-type,
  mat-footer-cell:first-of-type {
    padding-left: 0;
  }
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}
