<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar routerLink="items">Supermarket Compare</mat-toolbar>
    <mat-nav-list>
      <a
        (click)="drawer.close()"
        *ngFor="let x of menu"
        mat-list-item
        [routerLink]="x.link"
        routerLinkActive="active"
        >{{ x.name }}</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <div class="flex">
        <div class="flex justify-content-center align-center">
          <span style="cursor: pointer" class="logo" routerLink="items">
            Supermarket Compare</span
          >
        </div>
        <div>
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            *ngIf="isHandset$ | async"
          >
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <div class="menuItems">
            <button
              *ngFor="let x of menu"
              mat-button
              routerLinkActive="active"
              [routerLink]="x.link"
              (click)="drawer.close()"
            >
              {{ x.name }}
            </button>
            <!-- <button mat-button routerLink="category">Category</button> -->
          </div>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
