table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  // width: 100%;
}
::ng-deep .formfield .mat-form-field {
  width: 25%;
}

@media (max-width: 500px) {
  ::ng-deep .formfield .mat-form-field {
    width: 75%;
  }
}
::ng-deep .formfield .mat-form-field-wrapper {
  padding-bottom: 0px;
}
::ng-deep .formfield .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.2em 0 0.4em 0;
}

.mat-cell:first-of-type,
mat-header-cell:first-of-type,
mat-footer-cell:first-of-type {
  flex: 0.5;
}

td,
th {
  width: min-content;
}
.tableDiv {
  overflow: hidden;
}
